<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">                
                    {{ widgets:area slug="bottom" }}  
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Pengunjung</h3>
                    
                    <ul>
                        <li><a href="#">{{ counterpage:current }} Pengunjung</a></li>                    
                    </ul>
                </div>    
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Download</h3>
                    <ul>
                        {{ download:items limit="5" order="asc" }}
                            <li><a href="{{ filename }}">{{ name }}</a></li> 
                        {{ /download:items }}
                    </ul>
                </div>    
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Hubungi Kami</h3>
                    <ul>
                        <li>
                            <address>
                                    <h5>Head Office</h5>
                                    <p>1537 Flint Street <br>
                                    Tumon, MP 96911</p>
                                    <p>Phone:670-898-2847 <br>
                                    Email Address:info@domain.com</p>
                            </address>                            
                        </li>                        
                    </ul>
                </div>    
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->