<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Our Partners</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>    

        <div class="partners">
            <ul>
            {{ sponsors:items }}
            {{ sponsors }}            
                <li>
                    <a href="{{ link }}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="{{ delay}}" src="{{ files:image_url id=image }}"></a>
                </li>
            {{ /sponsors }}
            {{ /sponsors:items }}
            </ul>
        </div>        
    </div><!--/.container-->
</section><!--/#partner-->