<section id="services" class="service-item">
   <div class="container">
        <div class="center wow fadeInDown">
            <h2>Sekolah Kami</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        {{ theme:image file="services/services1.png" class="img-responsive" }}
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">TK</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                    {{ theme:image file="services/services2.png" class="img-responsive" }}
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">SD</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                    {{ theme:image file="services/services3.png" class="img-responsive" }}
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">SMP</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>                                                  
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->