<!DOCTYPE html>
<html lang="en">
<head>
    {{ theme:partial name="metadata" }}
</head><!--/head-->
{{ if { url:segments segment="1" } == ''}}
<body class="homepage">
{{ else }}
<body>
{{ endif }}
{{ theme:partial name="header" }}
{{ if { url:segments segment="1" } == '' AND theme:options:slider == 'yes' }}
    {{ theme:partial name="slider" }} 
{{ endif }}
{{ if { url:segments segment="1" } == '' AND theme:options:recent-works == 'yes' }}
    {{ theme:partial name="recent-works" }} 
{{ endif }} 
{{ if { url:segments segment="1" } == '' AND theme:options:services == 'yes' }}
    {{ theme:partial name="services" }} 
{{ endif }}
{{ if { url:segments segment="1" } == '' AND theme:options:feature == 'yes' }}
    {{ theme:partial name="feature" }} 
{{ endif }}
{{ if { url:segments segment="1" } == '' AND theme:options:middle == 'yes' }}
    {{ theme:partial name="middle" }}
{{ endif }}
{{ if { url:segments segment="1" } == '' AND theme:options:content == 'yes' }}
    {{ theme:partial name="content" }}
{{ endif }}
{{ if { url:segments segment="1" } == '' AND theme:options:partner == 'yes' }}
    {{ theme:partial name="partner" }}
{{ endif }}
{{ if { url:segments segment="1" } == '' AND theme:options:conatcat == 'yes' }}
    {{ theme:partial name="conatcat-info" }} 
{{ endif }} 
{{ if { url:segments segment="1" } == '' OR { url:segments segment="1" } == 'home' }}
{{ elseif { url:segments segment="1" } == 'blog' }}
{{ template:body }}
{{ elseif { url:segments segment="1" } == 'contact' }}
{{ template:body }}
{{ else }}
<section id="conatcat-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="pull-left">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="media-body">
                        {{ template:body }}
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->    
</section><!--/#conatcat-info-->
 
{{ endif }} 

{{ theme:partial name="bottom" }}
{{ theme:partial name="footer" }}       
</body>
</html>